[submodule "esp32/components/FreeRTOS-cpp_task"]
	path = esp32/components/FreeRTOS-cpp_task
	url = https://github.com/0x0c/FreeRTOS-cpp_task.git
[submodule "esp32/components/ESP32_StreamLogger"]
	path = esp32/components/ESP32_StreamLogger
	url = https://github.com/0x0c/ESP32_StreamLogger.git
[submodule "esp32/components/WS2812-Utility"]
	path = esp32/components/WS2812-Utility
	url = https://github.com/0x0c/WS2812-Utility.git
[submodule "esp32/components/esp32-MPU-driver"]
	path = esp32/components/esp32-MPU-driver
	url = https://github.com/natanaeljr/esp32-MPU-driver.git
[submodule "esp32/components/esp32-I2Cbus"]
	path = esp32/components/esp32-I2Cbus
	url = https://github.com/natanaeljr/esp32-I2Cbus.git
